input, button {
    margin: 2px;
}

table, th, tr, td {
    border: 1px solid grey;
    border-collapse: collapse;
}

tr:hover {
      background-color: #E0E0E0;
      cursor: pointer;
}

th {
    background-color: #bebebe;
}


input {
    width: 50%;
    outline: none;
}

/*input:invalid {
    border: 1px solid red;
}
  
input:valid {
    border: 1px solid black;
}*/

span {
    margin: 2px;
}

#error-firstName, #error-lastName, #error-address, #error-form, #error-phone, #error-email {
    color: red;
}